.product {
	margin: 50px 0;
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.image {
	height: 400px;
	width: 400px;
}
.description {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 400px;
}
.title {
	font-size: 25px;
	text-align: left;
	white-space: nowrap;
}
.info {
	text-align: left;
}
.contact {
	text-align: left;
}
